<body>
  <header class="header" id="header">
    <div class="navbar">
        <div class="brand">
            <a routerLink=""  style="color:#6F4E37;"><h1><img src="../assets/logo.png" style="width: 55px; height: 55px;">FIXLON </h1></a>
        </div>

        <nav >
        <div class="nav" id="nav">
            <ul class="nav__menu">

              <li class="nav__item"><a routerLink="home" routerLinkActive="active"  (click)="linkAction()" class="nav__link">Home</a></li>
                <li class="nav__item"><a routerLink="about" routerLinkActive="active" (click)="linkAction()" class="nav__link">About</a></li>
                <li class="nav__item"><a routerLink="services" routerLinkActive="active" (click)="linkAction()" class="nav__link">Services</a></li>
                <li class="nav__item"><a routerLink="packages" routerLinkActive="active" (click)="linkAction()" class="nav__link">Packages</a></li>
                <li class="nav__item"><a routerLink="gallery" routerLinkActive="active" (click)="linkAction()" class="nav__link">Gallery</a></li>
                <!-- <li class="nav__item"><a routerLink="contact" routerLinkActive="active" class="nav__link">Contact</a></li> -->
                <li><a routerLink="login" *ngIf="loginButton"><button class="btn" >Login</button></a></li>

                <li><div class="dropdown" *ngIf="!loginButton">
                  <span><i class="fa-solid fa-user" ></i><b> {{userName}}</b></span>
                  <div class="dropdown-content">
                  <li><a (click)="logoutuser()">Logout</a></li>
                  <li><a routerLink="profile"></a></li>
                  <li><a routerLink="bookingHistory">{{adminButton?'Transaction History':'Booking History'}}</a></li>
                  </div>
                </div></li>
              </ul>

        </div>
      </nav>
        <div class="nav__toggle" id="nav-toggle" (click)="toggleMenu()">
            <i class='bx bx-menu' ></i>
          </div>

    </div>
  </header>

</body>

