<footer class="footer" id="contact">
  <div class="footer__list section container">
      <div class="footer__data">
          <h1 title="FIXLON"><a href="#" style="color:#6F4E37;">FIXLON</a></h1>
          <div class="footer__data-social">
              <a href="https://www.facebook.com/profile.php?id=100089905761823" target="_blank" title="Facebook"><i class='bx bxl-facebook social__icon'></i></a>
              <a href="https://instagram.com/fixlon_style?igshid=ZDdkNTZiNTM=" target="_blank" title="Instagram"><i class='bx bxl-instagram social__icon' ></i></a>
              <a href="https://wa.me/8525876050" target="_blank"><i class='bx bxl-whatsapp social__icon' title="Whatsapp"></i></a>
              <a href="mailto:fixlon2001@gmail.com" target="_blank"><i class='bx bx-envelope social__icon' title="Gmail"></i></a>
          </div>
      </div>
      <div class="footer__data">
         <h2> Our Address</h2>
         <p><a href="https://goo.gl/maps/2SYJPKpSrTAJbaJ4A" target="_blank"><i class="fa-solid fa-location-dot"></i>Bridal Street, 123<br>Salem-10</a></p>
      </div>
      <div class="footer__data">
          <h2>Our Schedule</h2>
          <p>Monday to Friday<br><br> from 09:00am to 08:00pm</p>
      </div>
      <div class="footer__data">
          <h2>Contact</h2>
          <p>+91 9876543210</p><br>
          <p>+91 8765432109</p>
      </div>
  </div>
<div class="copy">
      <p>&copy All rights reserved</p>
      <!-- <span>Made with 🤎 by Nandha</span> -->
  </div>
</footer>
