<section >

  <div class="video">
          <div class="section__title">
              <h1>OUR WORKS</h1>
          </div>
      <div class="vservice">

          <div class="vs">
              <video src="/assets/gallery/v1.mp4"
              type="video/mp4"  muted  loop class="clip" autoplay>
              </video>
          </div>

          <div class="vs">
              <video src="/assets/gallery/v3.mp4"
              type="video/mp4"  muted  loop  class="clip" autoplay>
              </video>
          </div>

          <div class="vs">
              <video src="/assets/gallery/v2.mp4"
              type="video/mp4"  muted  loop class="clip" autoplay>
              </video>
          </div>

          <div class="vs">
              <video src="/assets/gallery/v4.mp4"
              type="video/mp4"  muted  loop  class="clip" autoplay>
              </video>
          </div>

          </div>
  </div>

  </section>
