/*video*/
.video{
  padding: 7rem 1rem 1rem 1rem;
  margin-bottom: 10px;
}

.vservice{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 15px;
}

.vservice .vs{
  position: relative;
  width: 95%;
  height: 70vh;
  margin: 15px;
 border: 2px solid var(--first-color);
}

.vservice .vs video{
position: absolute;
width: 100%;
height: 70vh;
object-fit: cover;

}
/* VIDEO END */
