<section class="about section" id="about">
  <div class="container">
      <div class="row">
          <div class="section__title">
              <h1>About Us</h1>
              <span>FIXLON</span>
          </div>
          <div class="about__detail">
              <div class="about__detail__content">
                  <div class="about__img">
                      <img src="/assets/img/about-img.jpg" alt="" title="Cheif Stylist">
                  </div>
                  <div class="about__descripion">
                    <p>At the FIXLON, we have confidence in excellence with a heart. We have made a salon that offers the most noteworthy quality hair benefits in a setting that is more advantageous for the earth, our visitors, and our staff.</p><br>
                    <p>The FIXLON is planned and fabricated essentially with reused materials: the floor is made of recovered wood from a nearby grain lift – protecting and displaying its common surface – and the vast majority of the installations and furniture are renovated or unique vintage pieces.</p>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>
