<section class="about section" id="about">
  <div class="container">
      <div class="row">
          <div class="section__title">
              <h1>About Us</h1>
              <span>FIXLON</span>
          </div>
          <div class="about__detail">
              <div class="about__detail__content">
                  <div class="about__img">
                      <img src="/assets/img/about-img1.jpg" alt="" title="Cheif Stylist">
                  </div>
                  <div class="about__descripion">
                    <p>At FIXLON, we have confidence in excellence with a heart. We have made a salon that offers the most noteworthy quality hair benefits in a setting that is more advantageous for the earth, our visitors, and our staff.</p><br>
                    <p>The FIXLON is planned and fabricated essentially with reused materials: the floor is made of recovered wood from a nearby grain lift – protecting and displaying its common surface – and the vast majority of the installations and furniture are renovated or unique vintage pieces.</p>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- stylist lists -->

<section class="services section" id="services">
  <div class="services__content">
          <div class="row">
                  <div class="section__title">
                      <h1>Fixlon</h1><br>
                      <span>OUR TEAM</span>
                  </div>
          </div>

      <div class="services__content__descripion">
                  <div class="box" >
                    <div class="flip-card" *ngFor="let item of stylistlist">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="{{item.image}}" alt="{{item.Name}}" style="width:350px;height:350px;" title="{{item.Name}}">
                        </div>
                        <div class="flip-card-back">
                          <img src="{{item.image}}" alt="{{item.Name}}" style="width:120px;height:100px;float: left;" title="{{item.Name}}">
                          <h1 >{{item.Name}}</h1>
                          <h2 style="padding-top: 10px;font-size: 20px;">{{item.role}}</h2><br>
                          <h3 style="color: black;padding-top: 5px;">Experience: {{item.expirence}}</h3>
                          <div class="inner">
                            <p >{{item.about}}</p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

      </div>



  </div>

</section>


