/* ABOUT START */
.about{
  width: 100%;
  background-image: url('/assets/img/left-bottom.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: -1;
}
.about__detail{
  width: 100%;
  padding: 2rem;
}
.about__detail__content{
  border: 2px solid var(--first-color);
  border-radius: 30px;
  padding: 1rem;
}
.about__img img{
  width: 100%;
  border-radius: 30px;
  filter: drop-shadow(16px 16px 16px rgba(0,0,0,0.25));
}
.about__descripion{
  position: relative;
  padding: 2rem;
}
.about__descripion::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 116%;
  left: 5px;
  background: #ebcfc2;
  border-radius: 20px;
  box-shadow:  4px 8px 16px rgba(0,0,0,0.25);
  z-index: -1;
}
.about__descripion p{
  font-weight: var(--font-medium);
  line-height: calc(var(--normal-font-size) + 10px);
  color: var(--black-color);
}
/* ABOUT END */
