<section class="services section" id="services">

  <div class="services__content">

          <div class="row">

                  <div class="section__title">
                      <h1>Services</h1>
                      <span>That we perform</span>
                  </div>

          </div>

      <div class="services__content__descripion container">

                  <div class="box">

                      <div class="inner">
                          <a target="_blank" href=""><img src="/assets/services/pedicure1.jpg" alt="Japanese traditional" title="Japanese traditional">
                          <p>Japanese traditional</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 199</i></a>
                      </div>

                  </div>

                  <div class="box">

                      <div class="inner">
                          <a target="_blank" href=""><img src="/assets/services/pedicure2.jpg" alt="Acralic Nails" title="Acralic Nails">
                          <p>Acralic Nails</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 299</i></a>
                      </div>

                  </div>

                  <div class="box">

                      <div class="inner">

                          <a target="_blank" href=""><img src="/assets/services/pedicure3.jpg" alt="Nature Nails" title="Nature Nails">
                          <p>Nature Nails</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 299</i></a>
                      </div>

                  </div>

                  <div class="box">

                      <div class="inner">
                          <a target="_blank" href=""><img src="/assets/services/pedicure4.jpg" alt="Custom Styles" title="Custom Styles" >
                          <p>Custom Styles</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 699</i></a>
                      </div>

                  </div>

                  <div class="box">

                    <div class="inner">
                        <a target="_blank" href=""><img src="/assets/services/pedicure5.jpg" alt="Paraffin" title="Paraffin">
                        <p>Paraffin</p>
                        <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 399</i></a>
                    </div>

                </div>

                <div class="box">

                    <div class="inner">
                        <a target="_blank" href=""><img src="/assets/services/pedicure6.jpg" alt="Winter Tones" title="Winter Tones">
                        <p>Winter Tones</p>
                        <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 499</i></a>
                    </div>

                </div>

                <div class="box">

                    <div class="inner">

                        <a target="_blank" href=""><img src="/assets/services/pedicure7.jpg" alt="Child bunny" title="Child bunny">
                        <p>Child bunny</p>
                        <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 599</i></a>
                    </div>

                </div>

                <div class="box">

                    <div class="inner">
                        <a target="_blank" href=""><img src="/assets/services/pedicure8.jpg" alt="Royal Touch" title="Royal Touch" >
                        <p>Royal Touch</p>
                        <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 499</i></a>
                    </div>

                </div>


      </div>

  </div>

</section>

