 <body>
    <div class="container">
        <h1>GET IN TOUCH</h1>
        <form  [formGroup]="loginform1" (ngSubmit)="login()">
            <div class="row">
                 <div class="column">
                  <label for="email">Email ID</label>
                  <input type="email" id="email" name="email" placeholder="Enter your email " formControlName="email" >

                  <div class="errors" *ngIf="loginform1.controls['email'].invalid&&loginform1.controls['email'].touched" >
                    <small *ngIf="loginform1.controls['email'].errors?.['required']" >please enter email ID</small>
                    <small *ngIf="loginform1.controls['email'].errors?.['pattern']" >please enter Valid email ID</small>
                   </div>
                </div>


                <div class="column">
                    <label for="password">Password</label>
                    <input type="{{ show ? 'text' : 'password' }}" id="password" placeholder="Enter your password" name="password" formControlName="password" >

                    <div class="errors" *ngIf="loginform1.controls['password'].invalid&&loginform1.controls['password'].touched">
                      <small *ngIf="loginform1.controls['password'].errors?.['required']" >please enter Password</small>
                      <small *ngIf="loginform1.controls['password'].errors?.['minlength']" >please enter correct Password </small>
                     </div>
                  </div>



            </div>
            <div class="column">
              <label>
                <input type="checkbox" [checked]="show" (change)="onClick()" style="margin-right: 5px;">Show Password:
              </label>
            </div>

            <div class="button">
                <button  style="font-size: 17px;letter-spacing: 2px;">Login</button>
            </div><br>
            <a class="link" routerLink="/forgot-password">Forgot Password?</a>
            <br><br>
            <hr><br>
            <a class="link" routerLink="/register">Create account</a>
        </form>
    </div>
  </body>




