<section class="services section" id="services">

  <div class="services__content">

          <div class="row">

                  <div class="section__title"> 
                      <h1>Services</h1>
                      <span>That we perform</span>
                  </div>

          </div>

      <div class="services__content__descripion container">

                  <div class="box" *ngFor="let item of waxinglist">

                      <div class="inner">
                          <a  ><img src="{{item.image}}" alt="{{item.Name}}" title="{{item.Name}}">
                          <p>{{item.Name}}</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> {{item.price}}</i></a>
                      </div>

                  </div>

      </div>

  </div>

</section>

