<section class="services section" id="services">

  <div class="services__content">

          <div class="row">

                  <div class="section__title">
                      <h1>Services</h1>
                      <span>That we perform</span>
                  </div>

          </div>

      <div class="services__content__descripion container">

                  <div class="box" *ngFor="let item of waxinglist">

                      <div class="inner">
                          <a  routerLink="{{item.id}}"><img src="{{item.image}}" alt="{{item.Name}}" title="{{item.Name}}">
                          <p>{{item.Name}}</p>
                          <!-- <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> {{item.price}}</i> -->

                        </a>
                        <button class="btn1" routerLink="{{item.id}}" *ngIf="!adminButton">show Details</button>
                        <button class="btn1" routerLink="{{item.id}}" *ngIf="adminButton">Edit Details</button>
                      </div>

                  </div>

      </div>
      <!-- <div  >
        <a routerLink="booking" *ngIf="!adminButton"> <button class="btn" >BOOK NOW</button></a>
       </div> -->
  </div>

</section>

