<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<body>
  <div class="container">
      <h1>FORGOT PASSWORD</h1>
      <form action=""  [formGroup]="loginform1" (submit)="onSubmit()">
          <div class="row">

            <div class="column">
              <label for="password">Password</label>
              <input type="password" id="password" formControlName="password" placeholder="Enter your password"  >
          </div>
          <div *ngIf="loginform1.controls['password'].invalid&&loginform1.controls['password'].touched" style="color: white;font-size: 20px;">
            <small *ngIf="loginform1.controls['password'].errors?.['required']" >please enter Password</small>
            <small *ngIf="loginform1.controls['password'].errors?.['pattern']" >Password must contain more than 8 characters,
               1 upper case letter, and 1 special character</small>
           </div>

          <div class="column">
              <label for="confirmpassword">Confirm Password</label>
              <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Re-Enter your password" formControlName="confirmpassword" >
          </div>
          <div *ngIf="loginform1.controls['confirmpassword'].invalid&&loginform1.controls['confirmpassword'].touched" style="color: white;font-size: 20px;">
            <small *ngIf="loginform1.controls['confirmpassword'].errors?.['required']" >Confirm Password is Reqired</small>
            <small *ngIf="loginform1.controls['confirmpassword'].errors?.['Confirmvalidator'] ">please Match the Password</small>
           </div>

          <div class="button">

              <button [disabled]="!loginform1.valid" style="font-size: 17px;letter-spacing: 2px;"><i class="fa-sharp fa-solid fa-arrow-rotate-left"></i>Reset password</button>
          </div>
        </div>
      </form>
  </div>
</body>



