*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  height: 100vh;
  background: url('../../assets/login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  background: rgba(16, 15, 15, 0.338);
  backdrop-filter: blur(10px);
  width: 25%;
  min-width:285px;
  padding:20px 10px 20px 8px;
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  align-items:center;
  border-radius: 15px;
  box-shadow: 20px 30px 25px rgba(0,0,0,0.5);
}
h1{
  font-size: 30px;
  text-align: center;
  color: white;
}
form{
  width: 80%;
  position: relative;
  margin: 30px ;
  align-items: center;
}
.row{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit,minmax(1fr));
  grid-gap: 20px 30px;
  margin-bottom: 20px;
}
label{
  color: white;
  font-size: 18px;
}
input{
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border:1.2px solid #c4cae0;
  margin-top: 5px;
}
input:focus{
  outline: none;
  border-color: #6f6df4;
}
button{
  border: none;
  padding: 10px 20px;
  width: 250px;
  background: linear-gradient(130deg,#6f6df4,#3e38d7);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
}
button:hover{
  border: none;
  padding: 10px 20px;
  width: 250px;
  background: linear-gradient(130deg,#3e38d7,#6f6df4,white);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
}
.button{
  text-align: center;
}
#exist{
  color: whitesmoke;
  text-decoration: none;
}
