/*PACKAGE START */
.package{
  background-image: url('../../assets/img/left-bottom.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: -1;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 0 300px;
}
.package__cards{
  margin-top: 2.5rem;
}
.card{
  height: 360px;
  background-color: var(--white-color);
  box-shadow: 8px 8px 16px rgba(0,0,0,0.25);
  border-radius: 30px;
  padding: 1.5rem;
  margin: 10px auto;
  transition: all 400ms ease-in-out;
}
.card:hover{
  transform: scale(1.1);
}
.card__title{
  text-align: center;
  margin-bottom: 1.5;
  padding-bottom: 20px;
}
.card__title h1{
  font-weight: var(--font-bold);
  font-size: var(--h1-font-size);
  line-height: var(--h1-font-size);
  color: var(--black-color);
}
.card__items{
  margin-bottom: 1rem;
}
.item{
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.item p{
  font-weight: var(--font-bold);
  line-height: calc(var(--normal-font-size) + 10px);
  color: var(--first-color);
  margin-left:0.5rem;
}
.item p span{
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
}
.item .x__icon, .item .check__icon{
  font-size: var(--h3-font-size);
}
.item .x__icon, .item .not{
  color: var(--second-color);
}
.item .x__icon, .item .not:hover{
  cursor: not-allowed;
}
.item .check__icon{
  color: var(--first-color);
}
.card__items button{
  margin: 0 auto;
  margin-top: 1rem;
}
/* PACKAGE END*/
