<!-- gallery -->
<section class="gallery section" id="gallery">
  <div class="gallery__content">
      <div class="row">
          <div class="section__title">
              <h1>Gallery</h1>
              <span>Our Instagram Models</span>
          </div>
      </div>
      <div class="gallery__list__img row container">
          <div class="gallery__img" *ngFor="let item of gallerylist">
              <img src="{{item.image}}" alt="">
          </div>
      </div>
      <a routerLink="galleryfull"><button class="btn">See more</button></a>
      <!-- <a routerLink="add" *ngIf="loginservice.isadmin"><i class="fa-solid fa-circle-plus" style="font-size: 50px; margin-left: 46%;margin-top:50px;color:#75492b" ></i></a>
      <a routerLink="delete" *ngIf="loginservice.isadmin"><i class="fa-solid fa-circle-minus" style="font-size: 50px; margin-left: 5px;margin-top:50px;color:#75492b" ></i></a> -->
  </div>
</section>

<!-- testimonials -->
<section class="testimonials section">
  <div class="testimonials__content">
      <div class="row">
          <div class="section__title">
              <h1>Testimonials</h1>
              <span>See what our customers have to say</span>
          </div>
      </div>
      <div class="testimonials__card container grid">
          <div class="testimonials__item flex" *ngFor="let item of reviewlist">
              <div class="testimonials__img">
                  <img src="{{item.image}}" alt="">
              </div>
              <div class="testimonials__box">
                  <div class="testimonials__name">
                      <h1>{{item.name}}</h1>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                  </div>
                  <div class="testimonials__descripition">
                      <p>{{item.description}}</p>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
