<!-- gallery -->
<section class="gallery section" id="gallery">
  <div class="gallery__content">
      <div class="row">
          <div class="section__title">
              <h1>Gallery</h1>
              <span>Our Instagram Models</span>
          </div>
      </div>
      <div class="gallery__list__img row container">
          <div class="gallery__img">
              <img src="../../assets/img/img-insta/photo1.png" alt="">
          </div>
          <div class="gallery__img">
              <img src="/assets/img/img-insta/img1.jpeg" alt="">
          </div>
          <div class="gallery__img">
              <img src="/assets/img/img-insta/photo3.png" alt="">
          </div>
          <div class="gallery__img">
              <img src="/assets/img/img-insta/img2.jpeg" alt="">
          </div>
          <div class="gallery__img">
              <img src="/assets/img/img-insta/photo5.png" alt="">
          </div>
          <div class="gallery__img">
              <img src="/assets/img/img-insta/photo6.png" alt="">
          </div>
          <div class="gallery__img">
              <img src="/assets/img/img-insta/img3.jpeg" alt="">
          </div>
          <div class="gallery__img">
              <img src="/assets/img/img-insta/photo8.png" alt="">
          </div>
      </div>
      <a routerLink="/galleryfull"><button class="btn">See more</button></a>
  </div>
</section>

<!-- testimonials -->
<section class="testimonials section">
  <div class="testimonials__content">
      <div class="row">
          <div class="section__title">
              <h1>Testimonials</h1>
              <span>See what our customers have to say</span>
          </div>
      </div>
      <div class="testimonials__card container grid">
          <div class="testimonials__item flex">
              <div class="testimonials__img">
                  <img src="../../assets/img/Testimonials/test1.png" alt="">
              </div>
              <div class="testimonials__box">
                  <div class="testimonials__name">
                      <h1>Catrina</h1>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                  </div>
                  <div class="testimonials__descripition">
                      <p>It was relaxing experience for us when we visited this place.
                      Staff is good and well trained. Overall good.</p>
                  </div>
              </div>
          </div>
          <div class="testimonials__item flex">
              <div class="testimonials__img">
                  <img src="../../assets/img/Testimonials/test2.png" alt="">
              </div>
              <div class="testimonials__box">
                  <div class="testimonials__name">
                      <h1>Samantha</h1>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star-half-stroke"></i>
                  </div>
                  <div class="testimonials__descripition">
                      <p>Place is good for those who love natural spa. The rates are not expensive.
                      Ambience was full of energetic.</p>
                  </div>
              </div>
          </div>
          <div class="testimonials__item flex">
              <div class="testimonials__img">
                  <img src="../../assets/img/Testimonials/test3.jpeg" alt="">
              </div>
              <div class="testimonials__box">
                  <div class="testimonials__name">
                      <h1>Rosy</h1>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                  </div>
                  <div class="testimonials__descripition">
                      <p>Nice and good experience also I would recommend for everyone
                      Who is looking for something new with hair</p>
                  </div>
              </div>
          </div>
          <div class="testimonials__item flex">
              <div class="testimonials__img">
                  <img src="../../assets/img/Testimonials/test4.jfif" alt="">
              </div>
              <div class="testimonials__box">
                  <div class="testimonials__name">
                      <h1>Nandha</h1>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                  </div>
                  <div class="testimonials__descripition">
                      <p>Good unisex salon providing decent services, while maintaining good
                      levels of hygiene.The environment here was quiet relaxing.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
