/* GALLERY START */
.gallery{
  width: 100%;
  position: relative;
}
.gallery::before{
  content: "";
  width: 100%;
  height: 60%;
  background-color: var(--main-color);
  position: absolute;
  z-index: -1;
}
.gallery__list__img{
  width: 100%;
  margin: 2.5rem auto;
  position: relative;
}
.gallery__img img{
  width: 270px;
  height: 300px;
  margin: 12px;
  border: 10px double var(--first-color);
}
.gallery__img img:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 8px var(--first-color);
}
.gallery__content button{
  margin: 0 auto;
}
/* GALLERY END */


/* TESTIMONIALS START */
.testimonials{
  background: url('/assets/img/left-bottom.svg') ;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: var(--main-color);
  border-radius: 300px 0;
  cursor:default;
}
.testimonials__content{
  padding: 2rem;
}
.testimonials__card{
  width: 420px;
  margin-top: 3rem;
  grid-template-columns: 1fr;
  cursor: pointer;
}
.testimonials__item:hover{
  cursor: pointer;
  box-shadow: 0px 1px 8px var(--first-color);
  border-radius: 30px;
}
.testimonials__item{
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}
.testimonials__item::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--second-color);
  border-radius: 30px;
}
.testimonials__img img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
  transition: all 0.5s ease;
  z-index: 2;
}
.testimonials__img img:hover{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
  transition: 0.5s all ease;
  z-index: 2;
}
/* .testimonials__item:hover .testimonials__img img{
  transform:translateX(300px) rotate(360deg);
} */
.testimonials__box{
  position: relative;
  padding: 30px;
  z-index: 1;
}
.testimonials__name{
  margin-bottom: 1rem;
  text-align: center;
}
.testimonials__name h2{
  font-weight: var(--font-medium);
  font-size: var(--h2-font-size);
  line-height: var(--h2-font-size);
  margin-bottom:0.5rem;
}
.testimonials__name .fa-star,.fa-solid{
  color: var(--first-color);
  font-size: var(--h4-font-size);
}
.testimonials__descripition p{
  line-height: var(--h2-font-size);
  margin-top: 2rem;
}
/* TESTIMONIAL END*/
@media (min-width: 860px){
  .testimonials__card{
      width: 820px;
      grid-template-columns: repeat(2, 1fr);
  }
  /* .testimonials__item:hover .testimonials__img img{
      transform: translateX(300px) rotate(360deg);
  } */
}
