<section class="services section" id="services">

  <div class="services__content">

          <div class="row">

                  <div class="section__title">
                      <h1>Services</h1>
                      <span>That we perform</span>
                  </div>

          </div>

      <div class="services__content__descripion container">

                  <div class="box">

                      <div class="inner">
                          <a target="_blank" href=""><img src="/assets/services/manicure1.jpg" alt="Manicure" title="French traditional">
                          <p>French traditional</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 199</i></a>
                      </div>

                  </div>

                  <div class="box">

                      <div class="inner">
                          <a target="_blank" href=""><img src="/assets/services/manicure2.jpg" alt="Pedicure" title="Acralic Nails">
                          <p>Acralic Nails</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 299</i></a>
                      </div>

                  </div>

                  <div class="box">

                      <div class="inner">

                          <a target="_blank" href=""><img src="/assets/services/manicure3.jpg" alt="Manicure" title="Winter Tones">
                          <p>Winter Tones</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 299</i></a>
                      </div>

                  </div>

                  <div class="box">

                      <div class="inner">
                          <a target="_blank" href=""><img src="/assets/services/manicure4.jpg" alt="Pedicure" title="Custom Styles" >
                          <p>Custom Styles</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 699</i></a>
                      </div>

                  </div>

                  <div class="box">

                    <div class="inner">
                        <a target="_blank" href=""><img src="/assets/services/manicure5.jpg" alt="Manicure" title="French traditional">
                        <p>Mustard Matte</p>
                        <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 399</i></a>
                    </div>

                </div>

                <div class="box">

                    <div class="inner">
                        <a target="_blank" href=""><img src="/assets/services/manicure6.jpg" alt="Pedicure" title="Acralic Nails">
                        <p>Nature Nails</p>
                        <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 499</i></a>
                    </div>

                </div>

                <div class="box">

                    <div class="inner">

                        <a target="_blank" href=""><img src="/assets/services/manicure7.jpg" alt="Manicure" title="Winter Tones">
                        <p>Child bunny</p>
                        <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 599</i></a>
                    </div>

                </div>

                <div class="box">

                    <div class="inner">
                        <a target="_blank" href=""><img src="/assets/services/manicure8.jpg" alt="Pedicure" title="Custom Styles" >
                        <p>Cool tone</p>
                        <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 499</i></a>
                    </div>

                </div>


      </div>

  </div>

</section>

