<body>
  <div class="section ">
<div class="textContainer">
    <h1>Terms Of Service</h1>
    This license is a legal agreement between you and Relfor Labs Pvt Ltd for the use of Fixlon. By downloading any <strong>Fixlon</strong> files, add-ons, or resources, you agree to be bound by the terms and conditions of this license. Relfor Labs Pvt Ltd reserves the right to alter this agreement at any time, for any reason, without notice.

    As part of the Service, Relfor Labs Pvt Ltd will provide the Subscriber with use of the Service, including a proprietary application, browser-based administrative interface, data transmission, access, and storage. Subscriber's registration for, or use of, the Service shall be deemed an agreement to abide by these Terms of Use (“Agreement”) including any materials and terms available on the Relfor Labs Pvt Ltd website incorporated by reference herein, including but not limited to Relfor Labs Pvt Ltd Privacy and Security policies.

    <strong>Permitted Use</strong>

    One license grants the right to use the Software on one domain and unlimited development sites. Each additional domain using the Software requires an additional purchased license.

    <strong>Restrictions</strong>

    Unless you have been granted prior, written consent from Relfor Labs Pvt Ltd, you may not:
    <ul>
       <li>Reproduce, distribute, or transfer the Software, or portions thereof, to any third party.</li>
       <li>Sell, rent, lease, assign, or sublet the Software or portions thereof.</li>
       <li>Grant rights to any other person.</li>
       <li>Use the Software in violation of any Indian or international law or regulation.</li>
    </ul>
    All copyright and proprietary notices and logos in the Control Panel and within the Software files must remain intact.

    <strong>Modifications to the Service and Prices</strong>

    Prices for our products are subject to change without notice.
    We reserve the right at any time to modify or discontinue the Service (or any part or content thereof) without notice at any time.
    We shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.

    <strong>Making Copies</strong>

    You may make copies of the Software for back-up purposes, provided that you reproduce the Software in its original form and with all proprietary notices on the back-up copy.

    <strong>Software Modification</strong>

    You may alter, modify, or extend the Software for your own use, or commission a third-party to perform modifications for you, but you may not resell, redistribute or transfer the modified or derivative version without prior written consent from Relfor Labs Pvt Ltd Components from the Software may not be extracted and used in other programs without prior written consent from Relfor Labs Pvt Ltd

    <strong>Technical Support</strong>

    Relfor Labs Pvt Ltd does provide direct phone support. No representations or guarantees are made regarding the response time in which e-mail support questions are answered, but we will do our best to respond quickly.

    <strong>Refunds</strong>

    Relfor Labs Pvt Ltd offers NO refunds on software Contact <u><a href="mailto:fixlon2001@gmail.com">fixlon2001@gmail.com</a></u> for assistance.

    You agree to provide current, complete and accurate purchase and account information for all purchases made at our store. You agree to promptly update your account and other information, including your email address and credit card numbers and expiration dates, so that we can complete your transactions and contact you as needed.

    <strong>Indemnity</strong>

    You agree to indemnify and hold harmless Relfor Labs Pvt Ltd &nbsp;or any third-party claims, actions or suits, as well as any related expenses, liabilities, damages, settlements or fees arising from your use or misuse of the Software, or a violation of any terms of this license.

    <strong>Personal Information</strong>

    Your submission of personal information through the store is governed by our Privacy Policy.

    <strong>Disclaimer Of Warranty</strong>

    THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF QUALITY, PERFORMANCE, NON-INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. FURTHER, INNOBLISS SOLUTIONS DOES NOT WARRANT THAT THE SOFTWARE OR ANY RELATED SERVICE WILL ALWAYS BE AVAILABLE.

    <strong>Limitations Of Liability</strong>

    YOU ASSUME ALL RISK ASSOCIATED WITH THE INSTALLATION AND USE OF THE SOFTWARE. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS OF THE SOFTWARE BE LIABLE FOR CLAIMS, DAMAGES OR OTHER LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE. LICENSE HOLDERS ARE SOLELY RESPONSIBLE FOR DETERMINING THE APPROPRIATENESS OF USE AND ASSUME ALL RISKS ASSOCIATED WITH ITS USE, INCLUDING BUT NOT LIMITED TO THE RISKS OF PROGRAM ERRORS, DAMAGE TO EQUIPMENT, LOSS OF DATA OR SOFTWARE PROGRAMS, OR UNAVAILABILITY OR INTERRUPTION OF OPERATIONS.

    <strong>Contact us</strong>

    If you have any questions about these Terms, please contact us at 
    <u><a href="mailto:fixlon2001@gmail.com">sales@Fixlon.in</a></u>
  </div>

    </div>
</body>

