<!-- payment page HTML -->
<section class="payment section" id="payment">
  <div class="row">
    <div class="section__title">
      <h1>Payment</h1>
      <span style="font-weight:400;">Payment Details</span>
    </div>
  </div>

  <div class="section__title">
    <div class="payment-container">
      <h1>Card Payment</h1>
      <form [formGroup]="paymentForm" >
        <div class="form-group">
          <label for="cardNumber">Card Number:</label>
          <div class="input-container">
            <input type="text" id="cardNumber" name="cardNumber" placeholder="eg: 123-456-789-000-0000" formControlName="cardNumber" [(ngModel)]="cardNumber" required maxlength="19" (ngModelChange)="determineCardType()" >
            <div *ngIf="cardType" class="card-image">
              <img [src]="cardTypeImages[cardType]" [alt]="cardType">
            </div>
          </div>
          <div class="errors" *ngIf="paymentForm.controls['cardNumber'].invalid && paymentForm.controls['cardNumber'].touched">
            <small *ngIf="paymentForm.controls['cardNumber'].errors?.['required']">Please enter cardNumber</small>
            <small *ngIf="paymentForm.controls['cardNumber'].errors?.['pattern']">Please Enter Numbers only</small>
            <small *ngIf="paymentForm.controls['cardNumber'].errors?.['minlength'] && !paymentForm.controls['cardNumber'].errors?.['pattern'] ">Please enter 12-19 digit card number</small>
          </div>
        </div>
        <div class="form-group">
          <label for="cardHolder">Card Holder Name:</label>
          <input type="text" id="cardHolder" name="cardHolder" formControlName="cardHolder"  [(ngModel)]="cardHolder" required>
          <div class="errors" *ngIf="paymentForm.controls['cardHolder'].invalid&&paymentForm.controls['cardHolder'].touched" >
            <small *ngIf="paymentForm.controls['cardHolder'].errors?.['required']" style="margin-left: 3px;">please enter cardHolder Name</small>
            <small *ngIf="paymentForm.controls['cardHolder'].errors?.['pattern']" style="margin-left: 3px;">please enter valid cardHolder Name</small>
           </div>
        </div>

        <div class="form-group">
          <label for="expiryDate">Expiry Date:</label>
          <input type="text" id="expiryDate" name="expiryDate" formControlName="expiryDate" [(ngModel)]="expiryDate" placeholder="mm/yy" required>
            <div class="errors" *ngIf="paymentForm.controls['expiryDate'].invalid&&paymentForm.controls['expiryDate'].touched" >
              <small *ngIf="paymentForm.controls['expiryDate'].errors?.['required']" style="margin-left: 3px;">please enter expiryDate</small>
              <small *ngIf="paymentForm.controls['expiryDate'].errors?.['pattern']">Please enter a valid expiry date (mm/yy) in the future</small>
            </div>
        </div>

        <div class="form-group">
          <label for="cvv">CVV:</label>
          <input type="text" id="cvv" name="cvv" formControlName="cvv" [(ngModel)]="cvv"  maxlength="4" required>
          <div class="errors" *ngIf="paymentForm.controls['cvv'].invalid&&paymentForm.controls['cvv'].touched">
            <small *ngIf="paymentForm.controls['cvv'].errors?.['required']">please enter CVV</small>
            <small *ngIf="paymentForm.controls['cvv'].errors?.['pattern']"> please enter numbers only</small>
            <small *ngIf="paymentForm.controls['cvv'].errors?.['minlength']">Please enter '3' or '4' digit Cvv</small>
          </div>
        </div>

        <button class="back-btn" (click)="back()">Back</button>
        <button [disabled]="paymentForm.invalid" name="submit" (click)="saveBooking()">Pay</button>
      </form>

    </div>
  </div>


</section>
