/* SERVICES START */
.services{
  width: 100%;
  background-image: url('/assets/img/left-top.svg');
  background-repeat: no-repeat;
  background-position: top left;
  z-index: -1;
}

.services__content__descripion{
  width: 100%;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.services__content__descripion .box{
  padding: 20px;
  cursor: pointer;
}

.services__content__descripion .box .inner img {
  width: 100px;
  margin-bottom: 1rem;
}

.services__content__descripion .box .inner {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
  color: var(--first-color);
  padding: 15px;
  position: relative;
}

.services__content__descripion .box .inner a::before,
.services__content__descripion .box .inner a::after{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  transition: all 0.8s ease;
}

.services__content__descripion .box .inner a::before{
  bottom: 0;
  left: 0;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}

.services__content__descripion .box .inner a::after{
  top: 0;
  right: 0;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
}

.services__content__descripion .box:hover  .inner a::before,
.services__content__descripion .box:hover  .inner a::after{
  border-color: var(--first-color);
  width: 100%;
  height: 100%;
}
/* SERVICES END */
@media (min-width: 860px){
  .services__content__descripion{
      grid-template-columns: repeat(4, 1fr);
  }
}
