/* SERVICES START */
.services{
  width: 100%;
  background-image: url('/assets/img/left-top.svg');
  background-repeat: no-repeat;
  background-position: top left;
  z-index: -1;
}

.services__content__descripion{
  width: 100%;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.services__content__descripion  .inner img {
  width: 100px;
  margin-bottom: 1rem;
}

.services__content__descripion  .inner {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
  color: var(--first-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.services__content__descripion .inner .products .image ::before,
.services__content__descripion .inner .products .image ::after{
  content: "";
  width: 50;
  height: 50;
  position: absolute;
  transition: all 0.8s ease;
}

.services__content__descripion .inner .products .image img::before{
  bottom: 0;
  left: 0;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}

.services__content__descripion .inner .products .image img::after{
  top: 0;
  right: 0;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
}

.services__content__descripion.inner .products .image img::before :hover,
.services__content__descripion.inner .products .image img::after :hover{
  border-color: var(--first-color);
  width: 100%;
  height: 100%;
}
.inner:hover{
  cursor: pointer;
}
/* SERVICES END */
@media (min-width: 860px){
  .services__content__descripion{
      grid-template-columns: repeat(4, 1fr);
  }
}
