<section class="services section" id="services">
  <div class="services__content">
      <div class="row">
          <div class="section__title">
              <h1>Services</h1>
              <span>That we perform</span>
          </div>
      </div>

      <div class="services__content__descripion container">
          <div class="box">
              <div class="inner">
                  <a  routerLink="manicure"  title="manicure"><img src="/assets/img/services/manicure.png" alt="Manicure"></a>
                  <p>manicure</p>
              </div>
          </div>

          <div class="box">
              <div class="inner">
                  <a  routerLink="pedicure" title="pedicure"><img src="/assets/img/services/pedicure.png" alt="Pedicure" ></a>
                  <p>pedicure</p>
              </div>
          </div>

          <div class="box">
              <div class="inner">
                  <a  routerLink="makeup" title="makeup"><img src="/assets/img/services/makeup.png" alt="MakeUp" ></a>
                  <p>makeup</p>
              </div>
          </div>

          <div class="box">
              <div class="inner">
                  <a  routerLink="hairstyle" title="hairstyle"><img src="/assets/img/services/hairstyle.png" alt="hairstyle" ></a>
                  <p>hairstyle</p>
              </div>
          </div>
          <div class="box">
              <div class="inner">
                 <a  routerLink="haircut" title="haircut"><img src="/assets/img/services/haircut.png" alt="Hair Cut" ></a>
                  <p>hair cut</p>
              </div>
          </div>

          <div class="box">
              <div class="inner">
                  <a  routerLink="eyebrow" title="eyebrow"><img src="/assets/img/services/eyebrow.png" alt="Eyebrow" ></a>
                  <p>eyebrow</p>
              </div>
          </div>

          <div class="box">
              <div class="inner">
                  <a  routerLink="waxing" title="waxing"><img src="/assets/img/services/waxing.png" alt="Waxing" ></a>
                  <p>waxing</p>
              </div>
          </div>

          <div class="box">
              <div class="inner">
                  <a  routerLink="skincleaning" title="skin cleaning"><img src="/assets/img/services/skincleaning.png" alt="Skin Cleaning" ></a>
                  <p>skin cleaning</p>
              </div>
          </div>

      </div>
  </div>

</section>

