<body>
  <div class="section">
    <div class="profile-container">
      <div class="displayProfile">
        <div *ngIf="editMode" class="profile-info">
          <h1 id="Name">{{name}}</h1>
          <p id="email"><b>Email:</b> {{ uemail }}</p>
          <p id="phone"><b>Phone:</b> {{uphone}}</p>
        </div>

        <form [formGroup]="profileForm" (ngSubmit)="update(profileForm.value)">
          <div *ngIf="!editMode"class="profile-info">
            <input type="text" placeholder="Name"  formControlName="username" #name id="name">
            <!-- <input type="email" placeholder="email" formControlName="email" #email2> -->
            <input type="number" placeholder="phoneNumber" formControlName="phone" #phone2>
          </div>
          <button *ngIf="!editMode">update</button>
        </form>

        <button *ngIf="editMode" (click)="editMode=false">Edit</button>

      </div>
    </div>

  </div>
</body>
