/* Existing CSS styles here */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drag-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  cursor: pointer;
  padding: 10px;
}

.drag-text span {
  font-size: 16px;
  margin-bottom: 5px;
}

.upload-label {
  font-size: 14px;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}
.profile-info{
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  line-height: 1.5;
}
button{
  width: 100px;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
}

