<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<body>
  <div class="container">
      <h1>FORGOT PASSWORD</h1>
      <form action=""  [formGroup]="loginform1" (ngSubmit)="login()">
          <div class="row">

               <div class="column">
                <label for="email">Email ID</label>
                <input type="email" id="email" name="email" placeholder="your email here" formControlName="email" >
            </div>
            <div *ngIf="loginform1.controls['email'].invalid&&loginform1.controls['email'].touched" style="color: white;font-size: 20px;">
              <small *ngIf="loginform1.controls['email'].errors?.['required']" >please enter email ID</small>
              <small *ngIf="loginform1.controls['email'].errors?.['pattern']" >please enter Valid email ID</small>
             </div>
          </div>

          <div class="button">
              <button  style="font-size: 17px;letter-spacing: 2px;margin-right: 15px;" (click)="login1()"><i class="fa-solid fa-arrow-left"></i>Back</button>
              <button [disabled]="!loginform1.valid" style="font-size: 17px;letter-spacing: 2px;">Submit</button>
          </div>
      </form>
  </div>
</body>



