/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;700;800&display=swap');

/*---------------VARIABLES CSS-------------------*/
:root {
    --header-height: 6.25rem;

    /*---------------COLLORS -------------------*/
    --main-color: #f7e6df;
    --first-color: #75492b;
    --second-color: #dfd6a7;
    --white-color: #ffffff;
    --black-color: #151515;

    /*---------------FONT  AND TYPOGRAPHY-------------------*/
    --font-cursive: 'Great Vibes', cursive;
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;

    /*---------------FONT WEIGHT-------------------*/
    --font-light: 300;
    --font-medium: 400;
    --font-semi-bold: 700;
    --font-bold: 800;

}
*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  overflow-x: hidden;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.section{
  padding: 7rem 0;
}
.grid{
  display: grid;
  gap: 20px;
}
.section__title{
  margin: 0 auto;
  text-align: center;
}
.section__title h1{
  font-family: var(--font-cursive);
  font-size: var(--big-font-size);
  font-weight: var(--font-medium);
  line-height: var(--big-font-size);
  color: var(--first-color);
}
.section__title span{
  font-weight: var(--font-light);
  font-size: var(--h2-font-size);
  line-height: var(--h2-font-size);
  color: var(--black-color);
}

.logout{
  border-radius: 20px;
  padding: 8px;
  width: 120px;
  font-size: 18px;
  outline: none;
  border: 2px solid var(--main-color);
  background-color: var(--first-color);
  color: var(--main-color);
  cursor: pointer;
}
.logout:hover{
  background-color: var(--main-color);
  color: var(--first-color);
  border: 2px solid var(--first-color);
}
/* BUTTON */
.btn{
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--first-color);
  color: var(--white-color);
  border: 1px solid var(--first-color);
  border-radius: 50px;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
}
.btn:hover{
  background-color: transparent;
  color: var(--first-color);
}

.errors{
  color: red;
}
