.search-container{
  float: right;
  margin: 15px;
  color: lightcoral;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
input[type='text']{
  margin: 5px 5px 5px 8px;
  border-radius: 8px;
  outline: none;
  border-color: lightcoral;
  padding: 3px;
  padding-right: 30px;
  color: var(--first-color);
}
input[type='text']:focus{
  outline: none;
  border-color: lightcoral;
}

.search-container i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
/* Add your custom styles here */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  z-index: 1;
}

.dropdown ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown ul li:hover {
  background-color: #e0e0e0;
}
