
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<body>
<section class="home">
  <div class="container">
      <div class="row">
          <div class="home__img">
              <img src="/assets/img/home-img.png" alt="">
          </div>
          <div class="home__content">
              <h1>Your Big Day<br>in Style </h1>(UNISEX)
              <p>Come meet our bride's corner and take the opportunity to schedule your date.</p><br>
              <a href="https://wa.me/8525876050" target="_blank" class="btn btn__outline"><i class='bx bxl-whatsapp'></i>SCHEDULE YOUR TIME</a>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="homeAbout">
    <div class="content1">
      <div class="homeimg">
        <img src="assets/img/home1.jpg" alt="" >
      </div>
      <div class="homeimg" id="img1">
        <img src="assets/img/home3.jpg" alt="" >
      </div>
    </div>
    <div class="content2">
      <h1>Welcome to Our Hair Salon We Will Change Your Look!</h1>
      <p>We are committed to using high-quality hair care products to ensure that your hair receives the best possible treatment. From shampoos and conditioners to styling products.</p>
      <div class="icons">
            <div class="icon">
              <div>
                <img src="assets/img/award.png" alt="">
              </div>
              <div>
                <h1 id="ic">26</h1>
                <h3>Year experience</h3>
              </div>
            </div>

            <div class="icon">
              <div>
                <img src="../../assets/img/barber.png" alt="">
              </div>
                <div>
                  <h1 id="ic">36+</h1>
                  <h3>Our Experts</h3>
                </div>
            </div>
      </div>
      <hr style="color: #75492b;">
      <div class="ceo">

        <div>
          <button >Learn more<i class="fa-solid fa-chevron-right"></i></button>
        </div>

        <div class="ceo2">
          <div id="ceo">
            <img src="../../assets/ceo.jpg" alt="">
          </div>
          <div class="ceo1">
            <h2>Nandha</h2>
            <h6>CEO of Barber shop</h6>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section3">
  <h1>Latest Projects Gallery</h1>
  <div class="latest">
    <div class="lat1">
      <img src="../../assets/img/latest/latest1.jpg" alt="">
      <div class="hlo">
        <h1>Body Massage</h1>
      </div>
    </div>
    <div class="latest1">
      <div class="lat2">
        <img src="../../assets/img/latest/latest2.webp" alt="">
        <div class="hlo1">
          <h1>Skin Waxing</h1>
        </div>
      </div>
      <div class="latest2">
        <div class="lat3">
          <img src="../../assets/img/latest/latest3.jpeg" alt="">
          <div class="hlo2">
            <h1>Body Relaxing</h1>
          </div>
        </div>
        <div class="lat3">
          <img src="../../assets/img/latest/latest4.avif" alt="">
          <div class="hlo2">
            <h1>Skin Care</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>


