
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<body>
<section class="home">
  <div class="container">
      <div class="row">
          <div class="home__img">
              <img src="/assets/img/home-img.png" alt="">
          </div>
          <div class="home__content">
              <h1>Your Big Day<br>in Style </h1>(UNISEX)
              <p>Come meet our bride's corner and take the opportunity to schedule your date.</p><br>
              <a href="https://wa.me/8525876050" target="_blank" class="btn btn__outline"><i class='bx bxl-whatsapp'></i>SCHEDULE YOUR TIME</a>
          </div>
      </div>
  </div>
</section>

</body>

<!-- <router-outlet></router-outlet> -->
