img{
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin-top: 50px;
}
.book {
  text-align: center;
}
.bookingButton{
 background-color: orange;
 width: 250px;
 padding: 10px;
 border-radius: 15px;
 color: white;
 font-size: 18px;
 font-weight: bold;
}
.bookingButton:hover{
  background-color: green;

}
.container{
  margin: 0%;
}
.services__content__descripion{
  margin: 0%;
}

.inner{
  margin:0px 40px;
  display: flex;

}
.innnerContent{
  padding: 10px;
}
.innnerContent button{
  margin: 12px;
  width: 140px;
  padding: 12px;
  font-size: 16px;

}
.innnerContent p{
  margin: 10px;
}
h1{
  font-size: 40px;
  padding-left: 10px;
}
span{
  color: green;
  font-weight: bold;
}
button{
  cursor: pointer;
}
.book button:disabled{
  background-color:rgb(234, 209, 163) ;
  color: black;
  cursor: not-allowed;
}
.book button:disabled:hover{
  background-color:rgb(234, 209, 163) ;
  color: black;
  cursor: not-allowed;
}
.details{
  padding: 10px;
}
.form-group{
  padding: 10px;
}
input[type=text]{
  margin: 5px;
  width: 200px;
  height: 25px;
}
.services__content{
  display: grid;
  grid-template-columns:60% 40%;

}
.service-type__content{
  font-size: 20px;
  margin: 0%;
}
.timeSlot{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap ;
}
.timeSlot button{
  width: 120px;
  padding: 10px;
  margin: 20px;
  font-size: 16px;
}

.clear-button{
  width: 120px;
  padding: 10px;
  margin:20px;
  font-size: 18px;
  background-color: rgb(244, 96, 96);
}

@media (max-width :500px) {
  .services__content{
    display: grid;
    grid-template-columns:100%;
  }
  span{
    color: green;
    font-weight: bold;
    margin: 2px;
  }
}
@media(max-width :900px) {
  .services__content{
    display: grid;
    grid-template-columns:100%;

  }
  .service-type__content{
    margin: 40px;
  }
}


