<!-- booking details -->
<section class="services section" id="services" *ngIf="proceed">
    <div class="row">
      <div class="section__title">
        <h1>Services</h1>
        <span style="color: black;font-weight:400;">Booking Information</span>
      </div>
    </div>

  <div class="services__content" >

      <div class="services__content__descripion container">

        <!-- choosing stylist  -->
          <div class="box">
            <div class="inner">
              <div class="innerimg">
                <img src="{{ displayhtml.image }}" alt="{{ displayhtml?.Name }}" title="{{ displayhtml?.Name }}">
              </div>
              <div class="innnerContent">
                <h1 *ngIf="!editMode">{{ displayhtml?.Name }}</h1>
                <div *ngIf="editMode">
                  <input  style="font-size: 20px;height: 35px;" type="text" [(ngModel)]="displayhtml.Name">
                </div>
                  <h2 id="servicePrice" style="padding-left: 12px;"><i class="fa-solid fa-indian-rupee-sign" style="color: green;"> {{ displayhtml?.price }} </i></h2>
                  <button id="stylist" (click)="selectService('basic',displayhtml.basic)" [disabled]="serviceType === 'standard' || serviceType === 'premium' ||adminButton">Basic Stylist</button>
                  Service Charge <span *ngIf="!editMode" id="basic">Free</span>
                  <span *ngIf="editMode"><input type="text" [(ngModel)]="displayhtml.basic"></span><br>

                  <button id="stylist" (click)="selectService('standard',displayhtml.standard)" [disabled]="serviceType === 'basic' || serviceType === 'premium' ||adminButton">Standard Stylist</button>
                  Service Charge Rs.<span *ngIf="!editMode"  id="standard">{{ displayhtml.standard }}</span>
                  <span *ngIf="editMode"><input type="text" [(ngModel)]="displayhtml.standard"></span><br>

                  <button id="stylist" (click)="selectService('premium',displayhtml.premium)" [disabled]="serviceType === 'basic' || serviceType === 'standard' ||adminButton" >Premium Stylist</button>
                  Service Charge Rs.<span *ngIf="!editMode" id="premium">{{ displayhtml.premium }}</span>
                  <span *ngIf="editMode"><input type="text" [(ngModel)]="displayhtml.premium"></span>

                  <div>
                    <button (click)="clearSelection()" [disabled]="!serviceType" *ngIf="!adminButton">Clear</button>
                    <button  (click)="editMode=true" [disabled]="editMode" *ngIf="adminButton">Edit</button>
                    <button  [disabled]="!editMode"(click)="editMode=false" *ngIf="adminButton" >Update</button>
                  </div>

                </div>
            </div>
          </div>

      </div>



      <div class="services__content__descripion container" style="margin-top: 10px;">
        <!-- timeslot  -->
          <div class="service-type__content">
            <h1 style="padding-left: 20px;">Select a time slot:</h1>
              <div class="details">

                  <div class="form-group" >
                    <label for="name">Customer Name:</label>
                    <input type="text" id="name" [(ngModel)]="CustomerName">
                  </div>

                  <div class="form-group">
                    <p > Service Type: <b id="serviceType">{{ displayhtml?.Name }}</b></p>
                  </div>
                  <div class="timeSlot">
                  <div  *ngFor="let slot of timeSlots">
                      <button class="time" [disabled]="selectedTimeSlot && selectedTimeSlot !== slot" (click)="selectTimeSlot(slot)">{{ this.slot.slot }}</button>
                  </div>
                </div>
                <button class="clear-button" [disabled]="!selectedTimeSlot" (click)="clearTimeSlot()">Clear</button>
              </div>
          </div>

      </div>
    </div>


  <div class="book">
    <div class="form-group">
      <h3>Total Price:</h3>
      <h2 id="servicePrice"><i class="fa-solid fa-indian-rupee-sign" style="color: green;">{{ priceChange }}</i></h2>
    </div>
       <button class="bookingButton" *ngIf="!adminButton" (click)="pay()" [disabled]="!selectedTimeSlot || !CustomerName|| !serviceType">Proceed Payment</button>
  </div>

  <!-- <ng-container>
    <div class="display" >
      <img src="{{displayhtml.image}}" title="{{displayhtml.Name}}">
      <h1>{{displayhtml.Name}}</h1>
    </div>
  </ng-container> -->

</section>

<!-- booking end -->

