<section class="services section" id="services">

  <div class="services__content">

          <div class="row">

                  <div class="section__title">
                      <h1>Services</h1>
                      <span>That we perform</span>
                  </div>

          </div>

      <div class="services__content__descripion container">

                  <div class="box">

                      <div class="inner">
                          <a target="_blank" href=""><img src="/assets/services/haircut13.jpg" alt="Taper Cut" title="Taper Cut">
                          <p>Taper Cut</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 199</i></a>
                      </div>

                  </div>

                  <div class="box">

                      <div class="inner">
                          <a target="_blank" href=""><img src="/assets/services/haircut14.jpg" alt="Bowl Cut" title="Bowl Cut">
                          <p>Bowl Cut</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 299</i></a>
                      </div>

                  </div>

                  <div class="box">

                      <div class="inner">

                          <a target="_blank" href=""><img src="/assets/services/haircut3.jpg" alt="Box Cut" title="Box Cut">
                          <p>Box Cut</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 299</i></a>
                      </div>

                  </div>

                  <div class="box">

                      <div class="inner">
                          <a target="_blank" href=""><img src="/assets/services/haircut4.jpg" alt="Quiff" title="Quiff" >
                          <p>Quiff</p>
                          <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 699</i></a>
                      </div>

                  </div>

                  <div class="box">

                    <div class="inner">
                        <a target="_blank" href=""><img src="/assets/services/haircut5.jpg" alt="Under Cut" title="Under Cut">
                        <p>Under Cut</p>
                        <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 399</i></a>
                    </div>

                </div>

                <div class="box">

                    <div class="inner">
                        <a target="_blank" href=""><img src="/assets/services/haircut6.jpg" alt="Mullet Cut" title="Mullet Cut">
                        <p>Mullet Cut</p>
                        <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 499</i></a>
                    </div>

                </div>

                <div class="box">

                    <div class="inner">

                        <a target="_blank" href=""><img src="/assets/services/haircut7.jpg" alt="Custom Style" title="Custom Style">
                        <p>Custom Style</p>
                        <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 599</i></a>
                    </div>

                </div>

                <div class="box">

                    <div class="inner">
                        <a target="_blank" href=""><img src="/assets/services/haircut8.jpg" alt="One Side Under Cut" title="One Side Under Cut" >
                        <p>One Side Under Cut</p>
                        <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 499</i></a>
                    </div>

                </div>

                <div class="box">

                  <div class="inner">
                      <a target="_blank" href=""><img src="/assets/services/haircut9.jpg" alt="Fire Cut" title="Fire Cut" >
                      <p>Fire Cut</p>
                      <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 499</i></a>
                  </div>

              </div>

              <div class="box">

                <div class="inner">
                    <a target="_blank" href=""><img src="/assets/services/haircut10.jpg" alt="One Side Box" title="One Side Box" >
                    <p>One Side Box</p>
                    <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 499</i></a>
                </div>

            </div>

            <div class="box">

              <div class="inner">
                  <a target="_blank" href=""><img src="/assets/services/haircut11.jpg" alt="Caesar Cut" title="Caesar Cut" >
                  <p>Caesar Cut</p>
                  <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 499</i></a>
              </div>

          </div>

          <div class="box">

            <div class="inner">
                <a target="_blank" href=""><img src="/assets/services/haircut12.jpg" alt="Mohawk Style" title="Mohawk Style" >
                <p>Mohawk Style</p>
                <i class="fa-solid fa-indian-rupee-sign" style="color: green;"> 499</i></a>
            </div>

        </div>


      </div>

  </div>

</section>

