.btn1{
  background-color:#f7e6df ;
  width: 140px;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  font-size: 15px;
  font-weight:500;
  margin-top: 10px;
}
.btn1:hover{
  background-color: #dfd6a7;
}
.row{
  display: grid;
}

.services__content__descripion .box .inner img{
  width: 200px;
  height: 180px ;
  border-radius: 40px;
  box-shadow: 10px 10px 20px #888888;
}

.services{
  width: 100%;
  background-image: url('/assets/img/left-top.svg');
  background-repeat: no-repeat;
  background-position: top left;
  z-index: -1;
}

.services__content__descripion{
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.services__content__descripion .box{
  padding: 20px;
}

.services__content__descripion .box .inner a{
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
  color: var(--first-color);
  padding: 15px;
  position: relative;
  text-align: center;
}
.btn{
  margin: 5% 0px 0px 40%;
  background-color: rgb(145, 222, 145);
  color: black;
}
.btn:hover{
  color: white;
  background-color: green;
}
/* MEDIA QUERY */
@media (max-width: 960px){
  .services__content__descripion{
    grid-template-columns: repeat(2, 1fr);
}
}
@media (min-width: 660px){
  .services__content__descripion{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px){
  .services__content__descripion{
    grid-template-columns: repeat(3, 1fr);
}
}
@media (min-width: 1100px){
  .services__content__descripion{
    grid-template-columns: repeat(4, 1fr);
}
}

/* END MEDIA QUERY */

