<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <div class="container">
        <h1>GET IN TOUCH WITH US</h1>
        <!-- <form action="https://sheetdb.io/api/v1/ai6a34invy38k" method="post" id="sheetdb-form" onsubmit="return validatephone()"> -->
            <form action="" [formGroup]="loginform1" (submit)="adduser()" >
            <div class="row">
                <div class="column" >
                    <label for="uname">Username</label>
                    <input type="text" id="uname"name="username" formControlName="username" placeholder="Enter Username here" >
                    <div *ngIf="loginform1.controls['username'].invalid&&loginform1.controls['username'].touched" style="color: whitesmoke;font-size: 16px;">
                      <small *ngIf="loginform1.controls['username'].errors?.['required']" style="margin-left: 3px;">please enter username</small>
                      <small *ngIf="loginform1.controls['username'].errors?.['pattern']" style="margin-left: 3px;">please enter valid username </small>
                     </div>
                </div>


                 <div class="column">
                  <label for="phone">Phone Number</label>
                  <input type="phone" id="phone" name="phone" placeholder="Enter your Phone number" formControlName="phone" >

                  <div *ngIf="loginform1.controls['phone'].invalid&&loginform1.controls['phone'].touched" style="color: white;font-size: 16px; ">
                    <small *ngIf="loginform1.controls['phone'].errors?.['required']" style="margin-left: 3px;">please enter Phone Number</small>
                    <small *ngIf="loginform1.controls['phone'].errors?.['pattern']" style="margin-left: 3px;">please enter Valid Phone Number</small>
                   </div>
              </div>


                <div class="column">
                    <label for="email">Email ID</label>
                    <input type="email" id="email" name="email" placeholder="Your email here" formControlName="email" >

                    <div *ngIf="loginform1.controls['email'].invalid&&loginform1.controls['email'].touched" style="color: white;font-size: 16px;">
                      <small *ngIf="loginform1.controls['email'].errors?.['required']" style="margin-left: 3px;">please enter email ID</small>
                      <small *ngIf="loginform1.controls['email'].errors?.['pattern']" style="margin-left: 3px;">please enter Valid email ID</small>
                     </div>
                  </div>


                <div class="column">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password" placeholder="Enter your password"  >

                    <div *ngIf="loginform1.controls['password'].invalid&&loginform1.controls['password'].touched" style="color: white;font-size: 16px;">
                      <small *ngIf="loginform1.controls['password'].errors?.['required']" style="margin-left: 3px;">please enter Password</small>
                      <small *ngIf="loginform1.controls['password'].errors?.['pattern']" style="margin-left: 3px;">Password must contain more than 8 characters,
                         1 upper case letter, and 1 special character</small>
                     </div>
                  </div>

                <div class="column">
                    <label for="re-password">Confirm Password</label>
                    <input type="password" id="Re-password" name="confirmpassword" placeholder="Re-Enter your password" formControlName="confirmpassword" >

                    <div *ngIf="loginform1.controls['confirmpassword'].invalid&&loginform1.controls['confirmpassword'].touched" style="color: white;font-size: 16px;">
                      <!-- <small *ngIf="loginform1.controls['confirmpassword'].errors?.['required']" >Confirm Password is Reqired</small> -->
                      <small *ngIf="loginform1.controls['confirmpassword'].errors?.['Confirmvalidator'] " style="margin-left: 3px;">please Match the Password</small>
                     </div>
                  </div>


            </div>
            <div class="button">
                <button  [disabled]="!loginform1.valid" >Submit</button>
            </div>
            <br><hr><br>
            <a routerLink="/login" id="exist">Existing User?</a>
        </form>
    </div>
  </body>
